.footer__content {
    display: flex;
    justify-content: space-between;
}

.footer__left-side p,
strong {
    color: var(--secondary-light)
}

.logo-box {
    margin-bottom: 38px;
}

.footer__left-side p{
    margin-bottom: 38px;
}

.footer__left-side strong {
    margin-bottom: 28px;
    display: inline-block;

}

.footer__left-side {
    margin-bottom: 16px;
}

.social-item {
    display: inline-block;
    cursor: pointer;
}

.social-item:not(:last-child){
    margin-right: 12px;
}

.footer__right-side {
    display: flex;
    justify-content: space-between;
}

footer a{
    display: block;
    text-decoration: none;
    color: var(--secondary-light);
    font-size: 20px;
    margin-bottom: 26px;
    cursor: pointer;
}

.footer__right_blocks:not(:last-child){
    margin-right: 168px;
}

footer h4 {
    margin-bottom: 38px;
    margin-top: 0;
    font-size: 24px;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer__bottom p {
    color: white
}

.footer__bottom-copyright {
    display: flex;
    align-items: center;
}

.footer_img-wrapper {
    margin-right: 8px;
}

.language__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.language__section-img {
    margin-right: 14px;
}

footer option {
    font-size: 14px;
}

.footer__bottom-background {
    background-color: var(--primary);
    width: 100%;
}
